<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    
  -->
  <connectionStrings>
    <add name="FashionDb"
      connectionString="Server=7a383d6e-78a4-4fb0-9de9-a074014b9e22.sqlserver.sequelizer.com;Database=db7a383d6e78a44fb09de9a074014b9e22;User ID=kcrpdhtpiyzhkhil;Password=gCnksVGzMoopvYFCfdvJwhe73Q4JEknW5MaJToZMDp83cEoByBkv5Rf8yoqJZ74A;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

   
  </system.web>
</configuration>