<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    
  -->
  <connectionStrings>
    <add name="FashionDb"
      connectionString="Server=b3469d33-d508-4b2d-96c3-a074014ff4f6.sqlserver.sequelizer.com;Database=dbb3469d33d5084b2d96c3a074014ff4f6;User ID=ezebeismbsbbjtsn;Password=ypqgkm7bSkLgEVB2GFMWbYTKUqGFofFa6VoyxAx77js7QM7qpkDYh3DHDMt4MyUL;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

   
  </system.web>
</configuration>