<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    
  -->
  <connectionStrings>
    <add name="FashionDb"
      connectionString="Server=0ba05fd4-4a80-4341-8f5b-a074014a937b.sqlserver.sequelizer.com;Database=db0ba05fd44a8043418f5ba074014a937b;User ID=grkfrsciutiqtimq;Password=HkmDSWauqyJ7QCwTdJVgjxWf3iWC3WnEF6umgC4zPf6rihMtyHJkFxDkwfJHaEAA;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

   
  </system.web>
</configuration>