@{
    ViewBag.Title = "About Us";
}




<h2>About</h2>
<p>
     This presentation is only to show speed of functionality using asp.net in the web. There is no any design and special ui used.
</p>
Elinext Group 2012
<a href="mailto:html.guide@about.com?cc=asda?bcc=gethelp@about.com?">adsad</a>